<%- include('../partials/header') %>
<h2>Edit Supplier</h2>
<form action="/suppliers/<%= supplier._id %>/edit" method="POST">
  <label>Name:</label><br>
  <input type="text" name="name" value="<%= supplier.name %>" required><br><br>

  <label>Address:</label><br>
  <input type="text" name="address" value="<%= supplier.address %>" required><br><br>

  <label>Phone:</label><br>
  <input type="text" name="phone" value="<%= supplier.phone %>" required><br><br>

  <button type="submit">Update</button>
</form>
<%- include('../partials/footer') %>
